@tailwind base;
@tailwind components;
@tailwind utilities;
body { @apply bg-gray-100; }
@media print {
  body * {
    visibility: hidden !important;
  }

  #print-section, #print-section * {
    visibility: visible !important;
  }

  #print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @page {
    margin: 10mm;
  }
}
